flask==3.0.3
flask-cors==4.0.1
opencv-python==4.10.0.84
scikit-image==0.24.0
scikit-learn==1.5.1
numpy==1.26.4
Pillow==10.4.0
sqlalchemy==2.0.36
pandas==2.2.2
joblib==1.4.2
psycopg2-binary==2.9.9
insightface==1.0.1
onnxruntime==1.27.0
qrcode==8.2
requests==2.34.2
PyYAML==6.0.3
gdown==6.1.0
beautifulsoup4==4.15.0
